img {
    width: 200px;
    height: auto;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    position: relative;
}

.mat-menu {
    background-color: transparent !important;
    border: 0px;
}

button {
    background-color: transparent;
    border: 0px;
}

.logout {
    color: yellowgreen;
}