.mat-toolbar {
    display: flex;
    justify-content: flex-end;
    background-color: #673AB7;
    height: 55px;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: medium;
    color: white;
    div {
        margin-top: 0.3em;
    }
}