<p>keypad-gallery works!</p>

<div>
    <ul class="thumbnails">
      <li *ngFor="let thumbnail of list(); let i = index">
        <img src="{{ thumbnail.src }}" alt="{{ thumbnail.title }}" title="{{ thumbnail.title }}" [ngClass]="{'current': currentPicture().id === thumbnail.id}" (click)="setCurrentPicture(i)">
      </li>
    </ul>
    <div class="thumbnailsControls">
      <button mat-mini-fab color="primary" class="previous" (click)="backward()" disabled="{{ thumbnailsStart }}">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-mini-fab color="primary" class="next" (click)="forward()" disabled="{{ thumbnailsEnd }}">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  