<!-- # Private zone #-->
<!-- header -->
<app-private-header></app-private-header>

<div class="gallery-container">

    <div class="img-contaienr">
        <h1>{{Imagenes[this.ImagenSeleccionada].title}}</h1>

        <img [src]="Imagenes[this.ImagenSeleccionada].src"    
             [width]="imageWidth">
    </div>


<app-keypad-gallery>
    [imagenes]="Imagenes"
    [(imagenSeleccionada)]="ImagenSeleccionada"
    (aumentar)="aumentarImagen()"
    (disminuir)="disminuirImagen()"
</app-keypad-gallery>

<app-carousel-gallery>
</app-carousel-gallery>

</div>